image: registry.geops.com/geops/gitlab-ci-dockerfiles/bookworm-python:latest

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.pip-cache"
  XDG_CACHE_HOME: "$CI_PROJECT_DIR/.cache/"
  LC_ALL: "C.UTF-8"
  LANG: "C.UTF-8"

default:
  before_script:
    - eval $(ssh-agent -s)
    - mkdir -p ~/.ssh
    - echo -e "Host *\nStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - echo "$GITLAB_PIPELINES_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - python3 -m venv venv
    - source venv/bin/activate
    - python3 --version
    - pip install --upgrade pip

stages:
  - build
  - test
  - deploy

cache:
  key: "$CI_JOB_NAME"
  paths:
    - .pip-cache/

build_wheels:
  stage: build
  script:
    - pip wheel -w wheels -r requirements.txt pip "setuptools>=61" "setuptools_scm[toml]>=6.2" wheel
    - pip wheel -w wheels --no-index --find-links=wheels .
    - pip wheel -w dev-wheels --find-links=wheels -r dev-requirements.txt
  artifacts:
    when: on_success
    paths:
      - wheels/
      - dev-wheels/

run_tests:
  stage: test
  needs:
    - build_wheels
  script:
    - pip install --no-index --no-deps wheels/*
    - pip install --no-index --no-deps dev-wheels/*
    - pytest -s -vvv --log-cli-level INFO --cov=pygtfslib --cov-report term --cov-report xml:cobertura_coverage.xml --cov-fail-under=40 --junitxml=junit_coverage.xml pygtfslib
  coverage: '/^TOTAL.+?(\d+\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: cobertura_coverage.xml
      junit: junit_coverage.xml

run_pre_commit_checks:
  stage: test
  needs:
    - build_wheels
  script:
    - pip install --no-index --no-deps dev-wheels/*
    - pre-commit run -c .pre-commit-config.yaml --all-files
  except:
    - master
